div.ex1 {
  background-color: #f77;
  width: 190px;
  height: 210px;
  overflow: scroll;
}
.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 50px;
}
.img-circle {
	width:33.5;
    border-radius: 100%;
	position:absolute;

}
.img-empty {
	position:absolute;
	width:33.5;
    border-radius: 100%;

}
.img-Bowl {
	width:150;
    border-radius: 100%;
	position:absolute;

}
.outBall{
	position:absolute;
	width:33.5;
    border-radius: 100%;
	z-index: 3;
}
.num{
	position:absolute;
	width:45;
    border-radius: 100%;
	z-index: 3;
}
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
  position:absolute;
  top:7%;
}
body{
	background: #fff;
	padding: 0px;
	margin: 0px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size:16px;
}

input, button{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight:700;
}

.main-div, .loggedin-div{
	width:20%;
	margin:0px auto;	
	margin-top:150px;
	padding:20px;
	display: none;
}

.main-div input{
	display:block;
	border:1px solid #ccc;
	border-radius:5px;
	background: #fff;
	padding: 15px;
	outline: none;
	width:100%;
	margin-bottom:20px;
	
}
.main-div input:focus{
	border: 1px solid #777;
}
.main-div button, .loggedin-div button{
	background: #5d8ffc;
	color: #fff;
	border: 1px solic #5d8ffc;
	border-radius:5px;
	padding: 15px;
	display: block;
	width:100%;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover{
	background: #fff;
	color: #5d8ffc;
	border: 1px solic #5d8ffc;
	cursor: pointer;
}
div {
  max-width: 800px;
  height: 800px;
  position:relative;
}
